<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iOSBoilerplate</name>
    <description>
        Cordova Demo in iOS Boilerplate
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Chevalier
    </author>
    <content src="index.html" />
    <preference name="BackupWebStorage" value="local"/>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <access origin="*.baidu.*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <!--Cordova插件声明-->
    <feature name="CordovaPluginsBridge">
        <param name="ios-package" value="CordovaPluginsBridge" />
        <param name="onload" value="false" />
    </feature>
    
    
</widget>
